  <div class="container">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Modifica Oggetto
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>


        <mat-divider></mat-divider>
        <p></p>


          <table style="width: 100%; margin: 0 auto; text-align: center;"><tbody>
          <tr>
            <th style="width: 5%;">
              ID.
            </th>
            <th style="width: 10%;">
              Barcode
            </th>
            <th style="width: 25%;">
              Nome Oggetto
            </th>
            <th style="width: 45%;">
              Descrizione
            </th>
            <th style="width: 5%;">
              Tipo
            </th>
            <th style="width: 10%;">
              &nbsp;
            </th>
          </tr>

          <tr>
            <td>
              {{oggetto.IDoggetto}}
            </td>
            <td>
              {{oggetto.barcode}}
            </td>
            <td>
              <mat-form-field appearance="fill" style="width: 100%; display: block;">
                <input matInput [(ngModel)]="oggetto.nomeoggetto" placeholder="Nome Oggetto" type="text">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" style="width: 100%; display: block;">
                <textarea matInput [(ngModel)]="oggetto.descrizione" placeholder="Descrizione" type="text"></textarea>
              </mat-form-field>
            </td>
            <td>
              {{oggetto.fissomobile}}
            </td>
              <td>
                <button  mat-raised-button color="warn" (click)="aggiornaogg(oggetto.IDoggetto)" [disabled]="!oggettoModificato()">Aggiorna</button>
              </td>
          </tr>

          <tr>
            @if (oggetto.adddisciplina!=='') {
              <td >
                  &nbsp;
              </td>
              <td >
                  Disciplina Incrementata
              </td>
              <td style="text-align: left;">
                  {{oggetto.adddisciplina}} +1
              </td>
              <td >
                  &nbsp;
              </td>
              <td >
                  &nbsp;
              </td>
              <td >
                  <button  mat-raised-button color="warn" (click)="cancellaeffetto()">Cancella</button>
              </td>
            }
          </tr>

          @for (cond of oggetto.condizioni; track cond) {
          <tr>
            <td >
                &nbsp;
            </td>
            <td >
                {{cond.tipocond}}
            </td>
            <td style="text-align: left;">
                @if (cond.valcond>0) { Min. {{cond.valcond}} } @else { &nbsp; } 
            </td>
            <td style="text-align: left;">
                {{cond.descrX}}
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                <button  mat-raised-button color="warn" (click)="cancellacond(cond.IDcondizione)">Cancella</button>
            </td>
            </tr>
          }
          @if (oggetto.ifdomanda==1) {
          <tr>
            <td >
                &nbsp;
            </td>
            <td >
                &nbsp;
            </td>
            <td >
              <mat-icon fontIcon="live_help" ></mat-icon>
              {{oggetto.domanda}}
            </td>
            <td style="text-align: left;">
                <mat-icon fontIcon="thumb_up" class="green-icon"></mat-icon> {{oggetto.r1}}<br>
                <mat-icon fontIcon="thumb_down" color="warn"></mat-icon> {{oggetto.r2}}<br>
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                <button  mat-raised-button color="warn" (click)="cancelladomanda()">Cancella</button>
            </td>
            </tr>
          }

          @for (cond of oggetto.condizioni2; track cond) {
          <tr>
            <td >
                @if (cond.risp=='S') { <mat-icon fontIcon="thumb_up" class="green-icon"></mat-icon>   } @else if (cond.risp=='N') { <mat-icon fontIcon="thumb_down" color="warn"></mat-icon>  } @else { &nbsp; }
            </td>
            <td >
                {{cond.tipocond}}
            </td>
            <td style="text-align: left;">
                @if (cond.valcond>0) { Min. {{cond.valcond}} } @else { &nbsp; } 
            </td>
            <td style="text-align: left;">
                {{cond.descrX}}
            </td>
            <td >
                &nbsp;
            </td>            
            <td >
                <button  mat-raised-button color="warn" (click)="cancellacond(cond.IDcondizione)">Cancella</button>
            </td>
            </tr>
          }

          @if (oggetto.paired.idpaired!=0) {
          <tr>
            <td >
                &nbsp;
            </td>
            <td >
                Paired
            </td>
            <td >
                <mat-icon fontIcon="compare_arrows" color="warn"></mat-icon>
                {{oggetto.paired.nomepaired}}
            </td>
            <td style="text-align: left;">
                {{oggetto.paired.descpaired}}
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                <button  mat-raised-button color="warn" (click)="cancellapaired()">Cancella</button>
            </td>
            </tr>
          }

          </tbody></table>
          <p></p>
          <mat-divider></mat-divider>
          <p></p>

          <!---  NUOVE CONDIZIONI -->

          <table style="width: 100%; margin: 0 auto; text-align: center;"><tbody>

          <tr>
            <th style="width: 5%;">
              &nbsp;
          </th>
            <th style="width: 15%;">
              Condizione
            </th>
            <th style="width: 5%;">
              Valore min.
            </th>
            <th style="width: 10%;">
              When
            </th>
            <th style="width: 45%;">
              Descrizione
            </th>
            <th style="width: 5%;">
              &nbsp;
            </th>
            <th style="width: 10%;">
              &nbsp;
            </th>
          </tr>
          
          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block; ">
                <mat-label>Scegli Attributo</mat-label>
                <mat-select   [(value)]="tabcondA" >
                  @for (i of attributi; track i) {
                    <mat-option [value]="i.IDskill">{{i.nomeskill}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoA" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="width: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneA"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('A')" [disabled]="  descrizioneA=='' || tabcondA=='' ">Aggiungi</button>
            </td>
          </tr>

          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block; ">
                <mat-label>Skill Generico</mat-label>
                <mat-select   [(value)]="tabcondS" (selectionChange)="aggiornasubskill()">
                  @for (i of skill; track i) {
                    <mat-option [value]="i.IDskill">{{i.nomeskill}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field appearance="fill" >
                <input matInput [formControl]="valcondS" placeholder="Min." type="text" pattern="\d*">
              </mat-form-field>
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoS" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="width: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneS"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>            
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('S')" [disabled]=" !(valcondS.errors===null) || descrizioneS=='' || tabcondS=='' ">Aggiungi</button>
            </td>
          </tr>

          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block; ">
                <mat-label>Skill Specifico</mat-label>
                <mat-select   [(value)]="tabcondSS" >
                  @for (i of subskill; track i) {
                    <mat-option [value]="i.IDskill">{{i.nomeskill}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              @if (subskill.length==0) {
                <span color="warn">Seleziona prima uno skill generico</span>
              } 
            </td>
            <td >
              <mat-form-field appearance="fill" >
                <input matInput [formControl]="valcondSS" placeholder="Min." type="text" pattern="\d*">
              </mat-form-field>
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoSS" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneSS"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>            
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('SS')" [disabled]=" !(valcondSS.errors===null) || descrizioneSS=='' || tabcondSS=='' ">Aggiungi</button>
            </td>
          </tr>
          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block; ">
                <mat-label>Altri skill</mat-label>
                <mat-select   [(value)]="tabcondO" >
                  @for (i of otherskill; track i.IDskill) {
                    <mat-option [value]="i.IDskill">{{i.nomeskill}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field appearance="fill" >
                <input matInput [formControl]="valcondO" placeholder="Min." type="text" pattern="\d*">
              </mat-form-field>
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoO" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>           
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneO"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>              
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('O')" [disabled]=" !(valcondO.errors===null) || descrizioneO=='' || tabcondO=='' ">Aggiungi</button>
            </td>
          </tr>

          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block;">
                <mat-label>Scegli Disciplina</mat-label>
                <mat-select   [(value)]="tabcondD" >
                  @for (i of discipline; track i.IDdisciplina) {
                    <mat-option [value]="i.IDdisciplina">{{i.nomedisciplina}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field appearance="fill" >
                <input matInput [formControl]="valcondD" placeholder="Min." type="text" pattern="\d*">
              </mat-form-field>
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoD" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneD"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>            
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('D')" [disabled]=" !(valcondD.errors===null) || descrizioneD=='' || tabcondD=='' ">Aggiungi</button>
            </td>
          </tr>

          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block;" >
                <mat-label>Scegli Dominio</mat-label>
                <mat-select   [(value)]="tabcondY" >
                  @for (i of domini; track i.IDdominio) {
                    <mat-option [value]="i.IDdominio">{{i.nomedominio}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoY" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneY"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>            
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('Y')" [disabled]="  descrizioneY=='' || tabcondY=='' ">Aggiungi</button>
            </td>
          </tr>


          <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block;" >
                <mat-label>Scegli Societa</mat-label>
                <mat-select   [(value)]="tabcondX" >
                  @for (i of societa; track i.IDsocieta) {
                    <mat-option [value]="i.IDsocieta">{{i.nomesocieta}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoX" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneX"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>            
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('X')" [disabled]="  descrizioneX=='' || tabcondX=='' ">Aggiungi</button>
            </td>
          </tr>          


         <tr>
            <td >
              &nbsp;
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 75%; display: block;" >
                <mat-label>Scegli Clan</mat-label>
                <mat-select   [(value)]="tabcondC" >
                  @for (i of clan; track i.IDclan) {
                    <mat-option [value]="i.IDclan">{{i.nomeclan}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              @if (oggetto.ifdomanda==1) {
                <mat-radio-group [(ngModel)]="quandoC" >
                  @for (tipo of quando; track tipo) {
                    <mat-radio-button  class="example-radio-button"  [value]="tipo.id">
                      {{tipo.nome}}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              }
            </td>
            <td >
              <mat-form-field appearance="fill" style="size: 100%; display: block;">
                <mat-label>Descrizione</mat-label>
                <textarea matInput [(ngModel)]="descrizioneC"></textarea>
              </mat-form-field>
            </td>
            <td >
              &nbsp;
            </td>
            <td >
              <button  mat-raised-button color="primary" (click)="addcond('C')" [disabled]="  descrizioneC=='' || tabcondC=='' ">Aggiungi</button>
            </td>
          </tr>          

          <!---->

          @if (oggetto.paired.idpaired==0) {
          <tr>
            <td >
                &nbsp;
            </td>
            <td >
                <mat-form-field appearance="fill" style="size: 75%; display: block;" >
                  <mat-label>Scegli Accoppiamento</mat-label>
                  <mat-select   [(value)]="tabpaired" >
                    @for (i of unpaired; track i) {
                      <mat-option [value]="i.IDoggetto">{{i.nomeoggetto}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                <mat-form-field appearance="fill" style="size: 100%; display: block;">
                  <mat-label>Descrizione</mat-label>
                  <textarea matInput [(ngModel)]="descrizionePaired"></textarea>
                </mat-form-field>
            </td>
            <td >
                &nbsp;
            </td>
            <td >
                <button  mat-raised-button color="primary" (click)="addpaired()" [disabled]="  descrizionePaired=='' || tabpaired=='' ">Aggiungi</button>
            </td>
            </tr>
          }


          </tbody></table>

          <mat-divider></mat-divider>

          <table style="width: 100%; margin: 0 auto; text-align: center;"><tbody>

            <tr>
              <th style="width: 5%;">
              </th>
              <th style="width: 25%;">
              </th>
              <th style="width: 10%;">
              </th>
              <th style="width: 22.5%;">
              </th>
              <th style="width: 22.5%;">
              </th>
              <th style="width: 5%;">
              </th>
              <th style="width: 10%;">
              </th>
            </tr>            


          @if (oggetto.ifdomanda==0) {
          <tr>
            <td>&nbsp;</td>
            <td>
                <mat-form-field appearance="fill" style="size: 100%; display: block;">
                  <mat-label>Domanda</mat-label>
                  <textarea matInput [(ngModel)]="domanda"></textarea>
                </mat-form-field>
            </td>
            <td>&nbsp;</td>
            <td >
                <mat-form-field appearance="fill" style="size: 100%; display: block;">
                  <mat-label>SE SI:</mat-label>
                  <textarea matInput [(ngModel)]="rispSi"></textarea>
                </mat-form-field>
            </td>
            <td >
                <mat-form-field appearance="fill" style="size: 100%; display: block;">
                  <mat-label>SE NO:</mat-label>
                  <textarea matInput [(ngModel)]="rispNo"></textarea>
                </mat-form-field>
            </td>
            <td>&nbsp;</td>
            <td >
                <button  mat-raised-button color="primary" (click)="adddomanda()" [disabled]=" domanda=='' || rispNo=='' || rispSi=='' ">Aggiungi</button>
            </td>
          </tr>
          }

          </tbody></table>
        </mat-card-content>
      </mat-card>
    </div>
