<div class="container" >

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Gestione Oggetti
      </mat-card-title>
    </mat-card-header>
      
    <mat-card-content>

      <mat-divider></mat-divider>


      <form #oggettoForm="ngForm" (ngSubmit)="aggiungioggetto()">
        <mat-grid-list cols="6" rowHeight="10em">
          <mat-grid-tile>
            <mat-form-field appearance="fill" style="width: 90%;">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="newnomeoggetto" name="nomeoggetto" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill" style="width: 90%;">
              <mat-label>Descrizione</mat-label>
              <textarea matInput [(ngModel)]="newdescrizione" name="descrizione" required></textarea>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-radio-group [(ngModel)]="newfissomobile" name="fissomobile" required class="example-radio-group">
              @for (tipo of listafissomobile; track tipo) {
                <mat-radio-button class="example-radio-button" [value]="tipo.id">
                  {{tipo.nome}}
                </mat-radio-button>
              }
            </mat-radio-group>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button type="submit" [disabled]="oggettoForm.invalid" class="large" color="primary" style="width: 100%;">Aggiungi</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>



      <div>
          <button  mat-raised-button class="large" color="primary" (click)="stampa()" style="width: 100%;">Stampa Oggetti</button>
      </div>

      <mat-divider></mat-divider>

      <table mat-table [dataSource]="datasource">
        <ng-container matColumnDef="IDoggetto">
          <th mat-header-cell *matHeaderCellDef> IDoggetto</th>
          <td mat-cell *matCellDef="let obj"> {{obj.oggetto.IDoggetto}} </td>
        </ng-container>
        <ng-container matColumnDef="Barcode">
          <th mat-header-cell *matHeaderCellDef> Barcode </th>
          <td mat-cell *matCellDef="let obj"> {{obj.oggetto.barcode}} </td>
        </ng-container>
        <ng-container matColumnDef="Nomeoggetto">
          <th mat-header-cell *matHeaderCellDef> Nome Oggetto </th>
          <td mat-cell *matCellDef="let obj"> <button matButton="filled" color="accent"  (click)="modifica(obj.oggetto.IDoggetto, obj.oggetto)">{{obj.oggetto.nomeoggetto}}</button></td>
        </ng-container>
        <ng-container matColumnDef="Descrizione">
          <th mat-header-cell *matHeaderCellDef> Descrizione </th>
          <td mat-cell *matCellDef="let obj"> {{obj.oggetto.descrizione}} </td>
        </ng-container>
        <ng-container matColumnDef="Fissomobile">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let obj"> {{obj.oggetto.fissomobile}} </td> 
        </ng-container>
        <ng-container matColumnDef="Incremento">
          <th mat-header-cell *matHeaderCellDef> Incr.Disciplina </th>
          <td mat-cell *matCellDef="let obj"> {{obj.oggetto.adddisciplina}}   @if(obj.oggetto.adddisciplina != undefined){ +1 } </td>
        </ng-container>
        <ng-container matColumnDef="Cancella">
          <th mat-header-cell *matHeaderCellDef> Cancella </th>
          <td mat-cell *matCellDef="let obj"> <button matButton="filled" color="warn"  (click)="cancellaoggetto(obj.oggetto.IDoggetto)">Cancella</button> </td>
        </ng-container>

        <!----- righe condizioni -->

        <ng-container matColumnDef="Dummy">
          <td mat-cell *matCellDef="let obj">  &nbsp; </td>
        </ng-container>
        <ng-container matColumnDef="Tipocond">
          <td mat-cell *matCellDef="let obj">  {{obj.dettaglio?.tipocond}} </td>
        </ng-container>
        <ng-container matColumnDef="Valcond">
          <td mat-cell *matCellDef="let obj"> @if(obj.dettaglio?.valcond > 0){ Min.{{obj.dettaglio?.valcond}} } @else { &nbsp; } </td>
        </ng-container>
        <ng-container matColumnDef="descrX">
          <td mat-cell *matCellDef="let obj">  {{obj.dettaglio?.descrX}} </td>
        </ng-container>
        
        <!----- righe condizioni2 -->

        <ng-container matColumnDef="Risp">
          <td mat-cell *matCellDef="let obj"> 
            @if (obj.dettaglio?.risp === 'S') {
              <mat-icon fontIcon="thumb_up" class="green-icon"></mat-icon> 
            } @else { 
              <mat-icon fontIcon="thumb_down" color="warn"></mat-icon> 
            }
          </td>
        </ng-container>
          

        <!----- righe risposte -->

        <ng-container matColumnDef="Domanda">
          <td mat-cell *matCellDef="let obj"> <mat-icon fontIcon="live_help" ></mat-icon> {{obj.domanda}} </td>
        </ng-container>
        <ng-container matColumnDef="Si">
          <td mat-cell *matCellDef="let obj"> <mat-icon fontIcon="thumb_up" class="green-icon"></mat-icon> {{obj.si}} </td>
        </ng-container>
        <ng-container matColumnDef="No">
          <td mat-cell *matCellDef="let obj"> <mat-icon fontIcon="thumb_down" color="warn"></mat-icon> {{obj.no}} </td>
        </ng-container>

        <!----- righe paired -->

        <ng-container matColumnDef="OggettoPaired">
          <th mat-header-cell *matHeaderCellDef> Oggetto Paired </th>
          <td mat-cell *matCellDef="let obj"><mat-icon fontIcon="compare_arrows" color="warn"></mat-icon> {{obj.oggettoPaired}}</td>
        </ng-container>
        <ng-container matColumnDef="DescrizionePaired">
          <th mat-header-cell *matHeaderCellDef> Descrizione Paired </th>
          <td mat-cell *matCellDef="let obj">  {{obj.descrizionePaired}} </td>
        </ng-container>

        <!----- righe effetto -->
        <ng-container matColumnDef="AddDisciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina Incrementata</th>
          <td mat-cell *matCellDef="let obj">  {{obj.adddisciplina}} +1 </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; when: isOggetto" ></tr>
          <tr mat-row *matRowDef="let row; columns: detailColumns; when: isCondizione" ></tr>
          <tr mat-row *matRowDef="let row; columns: detailColumns2; when: isCondizione2" ></tr>
          <tr mat-row *matRowDef="let row; columns: rispostaColumns; when: isRisposta" ></tr>
          <tr mat-row *matRowDef="let row; columns: pairedColumns; when: isPaired" ></tr>
          <tr mat-row *matRowDef="let row; columns: effettoColumns; when: isEffetto" ></tr>
      </table>

            <!--
            
                  @for (cond of item.condizioni2; track cond) {
                    <div class="columns">
                      <div class="column is-1">
                        <span (class)="{'red': cond.risp=='N' , 'green': cond.risp=='S'}"> {{cond.risp}} </span>
                      </div>
                      <div class="column is-2">
                        {{cond.tipocond}}
                      </div>
                      <div class="column is-2">
                        Min. {{cond.valcond}}
                      </div>
                      <div class="column is-6">
                        {{cond.descrX}}
                      </div>
                    </div>
                  }

            -->

            

    </mat-card-content>
  </mat-card>



</div>

